<h1>Listing Lectures</h1>

<table class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th>Lecture Name</th>
      <th>User id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lectures.each do |lecture| %>
      <tr>
        <td><%= lecture.name %></td>
        <td><%= lecture.user_id %></td>
        
        <td><%= link_to 'Show', lecture %></td>
        <td><%= link_to 'Destroy', lecture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
