<div class="comment">
  <div>
    <%= content_tag :span, "(#{time_ago_in_words comment.created_at} ago)", class: "comment-title"%>
    <%= link_to 'Delete Comment', [@slide, comment], method: :delete%>
  </div>
  <div><%= simple_format comment.text %></div>
</div>