<%= form_for([@commentable, @commentable.comments.new]) do |f| %>
  <div class="field"> <%= f.text_field :text, class: "form-control", placeholder: "Post a new Comment"%> </div>
  <input name="commentable_type" type="hidden" value=<%= @commentable.class.name %> />
  <input name="commentable_id" type="hidden" value=<%= @commentable.id %> />
<% end %>
