// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment {
  background: lightgray;
  padding: 5px;
  margin-bottom: 20px;
}

.comment-head {
  font-size: 14px;
  font-family: sans-serif;
}

.comment-content {
  font-size: 12px;
  font-family: serif;
  padding: 5px;
  padding-left: 10px;
}