.arrow{
  font-size: 20em;
  padding-top: 150%;
}

a{
  text-decoration:none;

  &:hover{
    color: black;
    background-color: transparent;
  }
}

.slide-container {
  min-width: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
