.arrow{
  font-size: 20em;
  padding-top: 150%;
}

a{
  text-decoration:none;

  &:hover{
    color: black;
    background-color: transparent;
  }
}

.slide{
  background-color: white;
}

.slide-container {
  min-width: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.comments{
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  width: 60%;
}
