/* @group core */
.wrapper { width: 850px; overflow: hidden; margin: 0 auto; background: none; }

content { display: block; width: 820px; margin: 0 auto;  }
left { display: block; width: 560px; float: left; overflow: hidden; margin-right: 20px; }
right { display: block; width: 240px; float: left; overflow: hidden; }